/*
  default to light gray + dark gray for alternating rows in top level category
  tables unless overridden by other css rules 
*/
table.topLevelCategory tbody:nth-child(even)
{
background-color: hsl(0, 0%, 90%);
}
table.topLevelCategory tbody:nth-child(odd)
{
background-color: hsl(0, 0%, 98%);
}

/*
 color specific templates for top level tables for specific categories
*/

table.topLevelCategory.indicators tbody:nth-child(even)
{
background-color: hsl(0, 70%, 90%);
}
table.topLevelCategory.indicators tbody:nth-child(odd)
{
background-color: hsl(0, 90%, 98%);
}

table.topLevelCategory.ttps tbody:nth-child(even)
{
background-color: hsl(240, 70%, 90%);
}
table.topLevelCategory.ttps tbody:nth-child(odd)
{
background-color: hsl(240, 90%, 98%);
}

table.topLevelCategory.observables tbody:nth-child(even)
{
background-color: hsl(120, 70%, 90%);
}
table.topLevelCategory.observables tbody:nth-child(odd)
{
background-color: hsl(120, 90%, 98%);
}

table.topLevelCategory.campaigns tbody:nth-child(even)
{
background-color: hsl(30, 70%, 90%);
}
table.topLevelCategory.campaigns tbody:nth-child(odd)
{
background-color: hsl(30, 90%, 98%);
}
